# 1. 변수

In [ ]:
# 이름, 직책, 이메일, 전화번호
name = "홍길동"
position = "대리"
email = "steadywing01@gmail.com"
phone_number = "019-8928-1927"

In [ ]:
print(name, position, email, phone_number)

In [ ]:
# 변수명 특징 - 대소문자 구분이 가능합니다. 
Age = 30
age = 31
print(Age, age)

In [ ]:
# 변수명 특징 - 특수문자(_ 제외), 숫자로 시작은 안된다.
item?count = 5

In [ ]:
100days = 100

In [ ]:
# 변수명 특징 - 예약어는 변수로 쓰면 안된다.
print = "hello"

print(print)

In [ ]:
# 재시작 후 위에 있는 변수 프린트 해보기
print(name)

In [ ]:
# 변수가 있는 셀 실행 후에 다시 프린트 해보기
print(name)

# 2. 자료형

## 1) 숫자형

### (1) 표현

In [ ]:
# 정수(Integer)
x = 5
y = -8
z = 0

print(x, y, z)
print(type(x), type(y), type(z))

In [ ]:
money = 100_000_000_000_000

print(money)

In [ ]:
# 실수(Float)
a = 3.14
b = -0.5
c = 1.0

print(a, b, c)
print(type(a), type(b), type(c))

In [ ]:
# 지수표현
num = 1.0e3

print(num)

In [ ]:
# 숫자 (사칙연산)
## 정수 + 실수 = 실수
num1 = 10
num2 = 1.0
print(type(num1), type(num2))

result = num1 + num2 
print(result, type(result))

### (2) 산술/복합 연산

In [ ]:
#### 산술연산
num1 = 10
num2 = 3

print(num1 + num2)  # 덧셈
print(num1 - num2)  # 뺄셈
print(num1 * num2)  # 곱셈
print(num1 / num2)  # 나눗셈
print(num1 // num2) # 몫
print(num1 % num2)  # 나머지
print(num1 ** num2) # 거듭제곱

In [ ]:
# 복합연산
money = 0
print(money)
## 입금
money += 2000   # money = money + 2000
print(money)
## 출금
money -= 500    # money = money - 500
print(money)

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [ ]:
## 수학 문제 
## 100 / 30 몫 3 나머지 10
## 30개씩 3페이지가 꽉 차고 다음 페이지에 10개의 게시물이 올라와야 한다. 
## 결론 4페이지를 만들어야 한다. 

# 1. 변수 정의
posts = 100
posts_per_page = 30

# 2. 연산 설명
pages = (posts // posts_per_page) + 1
remainder = posts % posts_per_page
print("100 나누기 30의 나머지", remainder)
print("나머지가 있기 때문에 몫에 1을 더해서", pages)

print("="*100)
## 만약에 120개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요
# 1. 변수 정의
posts = 120
posts_per_page = 30

# 2. 연산 설명
pages = (posts // posts_per_page)
remainder = posts % posts_per_page
print("120 나누기 30의 나머지", remainder)
print("나머지가 없기 때문에 그대로", pages)

## 자동화 한다. 
## 1. 조건 : 나머지가 0이니?
## 맞다 -> + 1 하지 않는다.
## 아니다 -> + 1을 해야 한다.

출생년도가 1982일 때 홀수, 짝수 판단하기

In [ ]:
## 수학 문제
## 홀수 짝수는 어떻게 판단합니까? 2로 나눠서 나머지가 0이면 짝수이고, 1이면 홀수이다.

# 1. 변수 정의
birth_year = 1982

# 2. 연산 설명
remainder = birth_year % 2
print(remainder)

## 자동화 한다. 
## 1. 조건 : 나머지가 0이니?
## 맞다 -> 짝수라고 답한다. 
## 아니다 -> 홀수라고 답한다.

## 2. 조건 : 나머지가 1이니?
## 맞다 -> 홀수라고 답한다. 
## 아니다 -> 짝수라고 답한다.

## 2) ⭐ 문자열

### (1) 표현

In [ ]:
message = "안녕하세요?"

print(message, type(message))

In [ ]:
# I'm happy 를 출력하고 싶다. 
message1 = "I'm happy"
message2 = 'I\'m happy' # 백슬래시(엔터키 위)

print(message1)
print(message2)

In [ ]:
# 긴 글 작성하기(백슬래시(엔터키 위))
review = '''\
짜장면이 너무너무 맛있는데, 
기사 아저씨가 너무 불친절했어요.\
'''

print(review)

### (2) 연산

In [ ]:
# 문자열 연산: 덧셈 (합치기)
text1 = "hello"
text2 = "python"

text = text1 + text2
print(text)

In [ ]:
# 문자열 연산: 곱셈 (반복)
print("=" * 50)
print("best" * 3)

In [ ]:
print("*" * 100)
print("Loop 1. 데이터 수집을 시작합니다. ")
print("*" * 100)

In [ ]:
# 문자열 길이를 출력하는 함수 - len()
text1 = "hello"
text2 = "hello "
print(len(text1))
print(len(text2))

### (3) 인덱싱/슬라이싱

#### 인덱싱

문제. 주민등록번호에서 성별을 추출해주세요.

In [ ]:
regist_num = "901212-1325221"

print(regist_num[7])   # 1
print(regist_num[-7])  # 1

#### 슬라이싱

문제. 주민등록번호에서 생년월일을 추출해주세요.

In [ ]:
regist_num = "901212-1325221"

print(regist_num[0:6]) # 901212
print(regist_num[:6])  # 901212

문제. 주민등록번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [ ]:
# 내 생각
# 1. 뒷자리를 추출한다.   
# 2. 뒷자리의 길이를 구한다. 
# 3. 주민등록번호 길이에서 뒷자리의 길이를 뺀다.
# 4. 뺀 만큼만 맨 앞에서부터 가져온다. 
# 5. * 뒷자리의 길이만큼 반복한다. 
# 6. 합친다. 

regist_num = "901212-1325221"
## 1. 901212-1 을 추출한다. 
## 2. *을 6번 반복한다. 
## 1번과 2번을 합친다. 
temp = regist_num[:8]
print(temp)
stars = "*" * 6
print(stars)
print(temp + stars)

### (4) 문자열 포매팅(f-string)

In [ ]:
name = "신짱구"

print(name, "님 안녕하세요.")
print(f"{name}님 안녕하세요.")

In [ ]:
accuracy = 0.95

print(f"Accuracy: {accuracy}")

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [ ]:
address1 = '서울시  관악구 신림동'
address2 = '강남구/동작구/노원구'

print(address1.split())
print(address2.split('/'))

예제. 파일 확장자 찾기

In [ ]:
file_name1 = "data.txt"
file_name2 = "data.json"

result1 = file_name1.split(".")
result2 = file_name2.split(".")
print(result1, result2)

#### 문자열 대체(replace)

In [ ]:
email = "jason@company.com"

result = email.replace("company", "google")
print(result)

In [ ]:
review = "아니 너무 웃겨요 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ"

result = review.replace("ㅋ", "")
print(result)

In [ ]:
gender = "mFFMMmFmmmmM"

result = gender.replace("M", "m")
print(result)

#### 대/소문자 변환(lower, upper)

In [ ]:
gender = "mFFMMmFmmmmM"

result = gender.lower()
print(result)

In [ ]:
gender = "mFFMMmFmmmmM"

result = gender.upper()
print(result)

#### 공백 제거(lstrip/rstrip/strip)

In [ ]:
name1 = "홍길동"
name2 = "홍길동  "
name3 = "홍길동 "

print(name1)
print(name2)
print(name3)

In [ ]:
name = "   홍길동          "

print(f"|{name}|")
print(f"|{name.strip()}|")
print(f"|{name.rstrip()}|")
print(f"|{name.lstrip()}|")

#### 카운트 세기(count)

In [ ]:
gender = "MFFMMMFMMMMM"

result = gender.count("M")
print(result)

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [ ]:
review = '''\
짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿\
'''

print(review)

In [ ]:
print(review.count("짜장면"))
print(review.count("짬뽕"))

In [ ]:
# 복습
text = "my name is narae."

result1 = text[3:7] # name
result2 = text[-6:-1] # narae
print(result1)
print(result2)

# 메서드 
# my, name, is, narae. -> split
print(text.split())
# narae 모두 대문자로 바꾸고 싶다. -> upper
print(result2.upper())
# . 을 없애고 싶다. -> replace
print(text.replace(".", ""))

## 3) 리스트(List)

### (1) 표현

In [ ]:
mylist = []
print(mylist, type(mylist))

In [ ]:
temperature = [33.0, 32, 34.9, 45, "", None]
print(temperature)

In [ ]:
mylist = [1, 2, 3, "가", ["a", "b", "c"]]
print(mylist)

In [ ]:
print(len(mylist))

### (2) 인덱싱/슬라이싱

#### 인덱싱

In [ ]:
member = ["유재석", 70, "박명수", 95, "노홍철", 90]
print(member)

# 노홍철 추출
print(member[4], member[-2])

# 95 추출
print(member[3], member[-3])

#### 슬라이싱

In [ ]:
member = ["유재석", 70, "박명수", 95, "노홍철", 90]

# 박명수, 95
print(member[2:4])

# 노홍철, 90
print(member[4:], member[-2:])

# 유재석, 70, 박명수, 95
print(member[0:4], member[:4])

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [ ]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]

# ["dog", "cat", "rabbit"] 추출
print(data[-1][1])

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [ ]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]

# ["dog", "cat", "rabbit"] 추출
print(data[-1][0:2], data[-1][:2])

### (2) 연산

#### 덧셈

In [ ]:
data1 = [1, 2, 3]
data2 = ["A", "B"]

print(data1 + data2)

In [ ]:
jan_sales = [5000, 7000, 2000]
feb_sales = [6500, 2000, 1200, 4500]

sales = jan_sales + feb_sales
print(sales)

#### 곱셈

In [ ]:
data = [1, 2, 3]

print(data * 3)

### (3) range

In [ ]:
num_list1 = list(range(5))
num_list2 = list(range(0, 5, 2))
num_list3 = list(range(5, 0, -1))

print(num_list1)
print(num_list2)
print(num_list3)

In [ ]:
# 0 ~ 9까지 정수 출력하기
num_list = list(range(10))
print(num_list)

# 2에서 6까지 정수 출력하기
num_list = list(range(2, 7))
print(num_list)

# 0에서 10까지 숫자 중 홀수 출력하기
# 1, 3, 5, 7, 9
num_list = list(range(1, 10, 2))
print(num_list)

# 10에서 0까지 2씩 내려가는 정수 출력하기
# 10 9 8 7 6 5 4 3 2 1 0 -1
num_list = list(range(10, -1, -1))
print(num_list)

### (4) 수정/추가/삭제

#### 수정

In [ ]:
# 0에서 8까지의 정수 리스트
num_list = list(range(9))
print(num_list)

# 4를 "hello"로 바꾸기
print(num_list[4])
num_list[4] = "hello"
print(num_list)

# [1, 2]를 ["one", "two"]로 바꾸기
print(num_list[1:3])
num_list[1:3] = ["one", "two"]
print(num_list)

In [ ]:
# 0에서 8까지의 정수 리스트
num_list = list(range(9))
print(num_list)

# [7, 8]을 9로 바꿀 수 있을까? (슬라이싱된 것을 하나의 요소로 바꿀 수 있을까?)
print(num_list[7:])
# num_list[7:] = 9  # Ctrl + / (주석 처리) 오류남
num_list[7:] = [9]
print(num_list)

In [ ]:
# 0에서 8까지의 정수 리스트
num_list = list(range(9))
print(num_list)

# [7, 8]을 "hello"로 바꿀 수 있을까? (슬라이싱된 것을 하나의 요소로 바꿀 수 있을까?)
print(num_list[7:])
num_list[7:] = "hello"
print(num_list)

In [ ]:
# 0에서 8까지의 정수 리스트
num_list = list(range(9))
print(num_list)

# [7, 8]을 "hello"로 바꿀 수 있을까? (슬라이싱된 것을 하나의 요소로 바꿀 수 있을까?)
print(num_list[7:])
num_list[7:] = ["hello"]
print(num_list)

#### 추가

In [ ]:
num_list = list(range(5))
print(num_list)

print(num_list + [5, 6, 7]) # 데이터 5, 6, 7 추가
print(num_list)

In [ ]:
# append: 요소 1개를 추가함
num_list = list(range(5))
print(num_list)

print(num_list.append([5, 6, 7])) 
print(num_list)

In [ ]:
# append: 요소 1개를 추가함
num_list = list(range(5))
print(num_list)

num_list.append([5, 6, 7]) # 행위
print(num_list)

In [ ]:
# extend: 요소 여러 개를 추가함
num_list = list(range(5))
print(num_list)

print(num_list.extend([5, 6, 7])) 
print(num_list)

In [ ]:
# extend: 요소 여러 개를 추가함
num_list = list(range(5))
print(num_list)

num_list.extend([5, 6, 7]) # 행위
print(num_list)

In [ ]:
# 학생들의 MBTI를 수집하고 있다. 
team1 = ["ISFJ", "ESTJ", "ESFP", "ENFP"]
team2 = ["INFP", "ESFP", "ISFP", "ESFJ"]
team3 = ["ESTJ", "ISFJ", "ISTP", "INTJ"]

# 나는 반별로 구분되게 하나의 데이터를 만들고 싶다. [[팀1], [팀2], [팀3]] - append
data = []
data.append(team1)
data.append(team2)
data.append(team3)
print(data)

# 나는 전체 학생들을 하나의 데이터로 만들고 싶다. [팀1, 팀2, 팀3] - extend
data = []
data.extend(team1)
data.extend(team2)
data.extend(team3)
print(data)

In [ ]:
# 삽입 (insert)
data = [1, 2, 4, 5]
print(data)

# 데이터 3을 추가하고 싶다.
data.insert(2, 3) # 위치, 값
print(data)

#### 삭제

In [ ]:
# 삭제 - del
data = list(range(0, 100, 10))
print(data)

# 50을 없애고 싶다. 
del data[5]
print(data)

In [ ]:
# 삭제 - 범위
data = list(range(0, 100, 10))
print(data)

# 70, 80, 90 없애고 싶다.
print(data[7:])
data[7:] = []
print(data)

In [ ]:
# 삭제 - remove(처음 등장하는 값만 삭제)
data = list(range(0, 100, 10))
print(data)

data.remove(50) # 값
print(data)

In [ ]:
# 삭제 - remove(처음 등장하는 값만 삭제)
data = [10, 20, 20, 30, 40]
print(data)

print(data.remove(20)) # 값
print(data)

In [ ]:
# 삭제 - pop
data = list(range(0, 100, 10))
print(data)

# 50을 삭제하고 싶다. 
extract_num = data.pop(5) # 위치
print(data)
print(f"{extract_num}이 추출되었습니다.")

In [ ]:
# 삭제 - pop
data = list(range(0, 100, 10))
print(data)

extract_num = data.pop() # 위치
print(data)
print(f"{extract_num}이 추출되었습니다.")

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [ ]:
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
print(f"기존 리스트: {post_data}")

# 특정 게시물에 오류 발견 (ID003)
# post_data에서 특정 게시물 없앤다.
# 특정 게시물을  오류 데이터에 옮기기
error_data = []
print(f"에러 리스트: {error_data}")
error_post = post_data.pop(2)
print(F"오류난 포스트: {error_post}")
error_data.append(error_post)
print(f"기존 리스트: {post_data}")
print(f"에러 리스트: {error_data}")

## 4) 튜플(Tuple)

### (1) 표현

In [ ]:
mytuple = ()

print(mytuple, type(mytuple))

In [ ]:
# 0에서 10까지 정수 출력
data = tuple(range(11))
print(data)

# 5 조회
print(data[5])

# (7, 8) 조회
print(data[7:9])

In [ ]:
mytuple = (1, 2, ["가", "나"], ("a", "b","c"))
print(mytuple)

In [ ]:
# 수정 불가
fruits = ("사과", "오렌지", "딸기")

## 사과를 배로 바꿔보기
fruits[0] = "배"
print(fruits)

In [ ]:
# 삭제 불가
fruits = ("사과", "오렌지", "딸기")

## 사과를 배로 바꿔보기
del fruits[2]

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [ ]:
mydict = {}

print(mydict, type(mydict))

In [ ]:
student = ["홍길동", 28, 177.6, [76, 88, 96, 76]]
print(student)

In [ ]:
student = {
    "name": "홍길동",
    "age": 28,
    "height": 177.6,
    "score": [76, 88, 96, 76]
}
print(student)

In [ ]:
# height 조회하기 
print(student["height"])

# score에서 96점만 추출하기 
print(student["score"])
print(student["score"][-2])

In [ ]:
# 이름을 신짱구 로 바꾸기
print(student["name"])
student["name"] = "신짱구"
print(student)

In [ ]:
# score를 0으로 바꿔보기
print(student["score"])
student["score"] = 0
print(student)

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [ ]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
print(weather_data)
print("=" * 100)
print("city 키를 Busan으로 수정")
print(weather_data["city"])
weather_data["city"] = "Busan"
print(weather_data)
print("=" * 100)
print("pm10 키를 값을 34로 추가하기")
weather_data["pm10"] = 34
print(weather_data)
print("=" * 100)
print("forecast에 ['Rainy', 'Rainy'] 추가하기")
print(weather_data["forecast"].extend(["Rainy", "Rainy"]))
print(weather_data)

### (3) 관련 메서드

In [ ]:
student = {
    "name": "홍길동",
    "age": 28,
    "height": 177.6,
    "score": [76, 88, 96, 76]
}
print(student)

#### 조회

In [ ]:
# 딕셔너리 안에 있는 모든 키들만 추출하기 
print(student.keys(), type(student.keys()))

key_list = list(student.keys())
print(key_list)

In [ ]:
# 딕셔너리 안에 있는 모든 값들만 추출하기 
print(student.values(), type(student.values()))

value_list = list(student.values())
print(value_list)

In [ ]:
# 딕셔너리 안에 있는 모든 (키, 값) 쌍 추출하기 
print(student.items(), type(student.items()))

item_list = list(student.items())
print(item_list)

In [ ]:
# 조건 파악: 내가 찾고자 하는 키가 있는가?
print("height" in student)
print("pressure" in student)

In [ ]:
# 값 조회 
print(student["height"])
print(student["pressure"])

In [ ]:
# 값 조회 - get
print(student.get("pressure", "없어요"))

#### 삭제

In [ ]:
student = {
    "name": "홍길동",
    "age": 28,
    "height": 177.6,
    "score": [76, 88, 96, 76]
}
print(student)

In [ ]:
# 삭제 - del 
del student["age"]
print(student)

In [ ]:
# 전체 삭제 
student.clear()
print(student)

## 6) 집합(Set)

### (1) 표현

In [ ]:
myset = set()

print(myset, type(myset))

In [ ]:
numbers = [1, 4, 2, 3, 4, 1, 1, 1, 1]

unique_numbers = set(numbers)
print(unique_numbers)

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [ ]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(emails)
print(f"데이터 개수: {len(emails)}")

unique_emails = set(emails)
print(unique_emails)
print(f"중복 제거된 데이터 개수: {len(unique_emails)}")

In [ ]:
print(unique_emails[0]) # 인덱싱/슬라이싱 할 수 없다.

### (2) 요소 추가/제거

#### 추가

In [ ]:
myset = {1, 2, 3, 4, 5}
print(myset)

# 하나 추가 
myset.add(6)
print(myset)

myset.add(2)
print(myset)

# 여러 개 추가
myset.update([3, 7, 8])
print(myset)

#### 제거

In [ ]:
myset = {1, 2, 3, 4, 5}

# 제거 - remove
myset.remove(2)
print(myset)

myset.remove(6)
print(myset)

In [ ]:
myset = {1, 2, 3, 4, 5}

# 제거 - discard
myset.discard(2)
print(myset)

myset.discard(6)
print(myset)

### (3) 연산

In [ ]:
yoga = {"A", "C", "D", "F", "G"}
health = {"A", "B", "F", "H"}

# 교집합 (AND)
set_inter = yoga & health
print(set_inter)

set_inter = yoga.intersection(health)
print(set_inter)

set_inter = health.intersection(yoga)
print(set_inter)

In [ ]:
yoga = {"A", "C", "D", "F", "G"}
health = {"A", "B", "F", "H"}

# 합집합 (OR)
set_union = yoga | health
print(set_union)

set_union = yoga.union(health)
print(set_union)

set_union = health.union(yoga)
print(set_union)

In [ ]:
yoga = {"A", "C", "D", "F", "G"}
health = {"A", "B", "F", "H"}

# 차집합 (요가-헬스 : 요가만 하는 사람, 헬스-요가: 헬스만 하는 사람)
## 요가-헬스 : 요가만 하는 사람
set_diff = yoga - health 
print(set_diff)

set_diff = yoga.difference(health)
print(set_diff)

## 헬스-요가: 헬스만 하는 사람
set_diff = health - yoga 
print(set_diff)

set_diff = health.difference(yoga)
print(set_diff)

## 7) 불(Bool)

In [ ]:
switch = True  # False

print(switch, type(switch))

In [ ]:
# 조건 
num = 50

print(num > 40)   # 참
print(num == 50)  # 참
print(num < 50)   # 거짓